<!--
<div>
    <h3>Backup image</h3>
    <p>Here you can make a backup of your current flash. For this you need to have a 4 GB sd card in the sd card slot of the BeagleBone Black. 
    The contents of the sd card will be erased and replaced with a flasher script. You can use this for backup or for copying your current setup to 
    different printers. </p>
</div>

-->
